################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Solution1/.vs/Solution1/DesignTimeBuild/.dtbcache.v2
/Solution1/.vs/Solution1/v17/.suo
/Solution1/.vs/Solution1/v17/DocumentLayout.json
/Solution1/TabelBL/obj/Debug/net8.0/TabelBL.AssemblyInfo.cs
/Solution1/TabelBL/obj/Debug/net8.0/TabelBL.AssemblyInfoInputs.cache
/Solution1/TabelBL/obj/Debug/net8.0/TabelBL.assets.cache
/Solution1/TabelBL/obj/Debug/net8.0/TabelBL.csproj.AssemblyReference.cache
/Solution1/TabelBL/obj/Debug/net8.0/TabelBL.GeneratedMSBuildEditorConfig.editorconfig
/Solution1/TabelBL/obj/project.assets.json
/Solution1/TabelBL/obj/project.nuget.cache
/Solution1/TabelBL/obj/TabelBL.csproj.nuget.dgspec.json
/Solution1/TabelBL/obj/TabelBL.csproj.nuget.g.props
/Solution1/Werkveld/obj/Debug/net8.0/TabelDL_SQL.AssemblyInfo.cs
/Solution1/Werkveld/obj/Debug/net8.0/TabelDL_SQL.AssemblyInfoInputs.cache
/Solution1/Werkveld/obj/Debug/net8.0/TabelDL_SQL.assets.cache
/Solution1/Werkveld/obj/Debug/net8.0/TabelDL_SQL.GeneratedMSBuildEditorConfig.editorconfig
/Solution1/Werkveld/obj/project.assets.json
/Solution1/Werkveld/obj/project.nuget.cache
/Solution1/Werkveld/obj/TabelDL_SQL.csproj.nuget.dgspec.json
/Solution1/Werkveld/obj/TabelDL_SQL.csproj.nuget.g.props
/Solution1/WPF/obj/Debug/net8.0-windows/WPF.AssemblyInfo.cs
/Solution1/WPF/obj/Debug/net8.0-windows/WPF.AssemblyInfoInputs.cache
/Solution1/WPF1/obj/Debug/net8.0-windows/App.g.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/App.g.i.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/MainWindow.baml
/Solution1/WPF1/obj/Debug/net8.0-windows/MainWindow.g.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/MainWindow2.baml
/Solution1/WPF1/obj/Debug/net8.0-windows/MainWindow2.g.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/MainWindow2.g.i.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/Tabel_Page.baml
/Solution1/WPF1/obj/Debug/net8.0-windows/Tabel_Page.g.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/Tabel_Page.g.i.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1.AssemblyInfo.cs
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1.AssemblyInfoInputs.cache
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1.assets.cache
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1.csproj.AssemblyReference.cache
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1.GeneratedMSBuildEditorConfig.editorconfig
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1_MarkupCompile.cache
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1_MarkupCompile.i.cache
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1_MarkupCompile.i.lref
/Solution1/WPF1/obj/Debug/net8.0-windows/WPF1_MarkupCompile.lref
/Solution1/WPF1/obj/project.assets.json
/Solution1/WPF1/obj/project.nuget.cache
/Solution1/WPF1/obj/WPF1.csproj.nuget.dgspec.json
/Solution1/WPF1/obj/WPF1.csproj.nuget.g.props
